// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #000a66;
  --ion-color-primary-rgb: 37, 66, 77;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #054612;
  --ion-color-primary-tint: #0bd5f9;
  --ion-background-color: #ffffff; 
}
